body {
    background-color: black;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
}

footer{
    text-align: right;
    color: gray;
}

.travel-guide{
    font-size: 21px;
    color: gray;
}

#main-heading{
    font-size: 50px;
    font-weight: normal;
}

#heading2{
    font-weight: 300;
    font-size: 42px;
}